# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Installer logs
pip-log.txt

# VS Code
.vscode/

# Environment variables
.env
.env.*


# Uploads (keep the .gitkeep so repo keeps the folder)
uploads/*
!uploads/.gitkeep
models/*